.Checkbox {
  --top-margin: 16px;
  position: relative;
}
* + .Checkbox {
  margin-top: var(--top-margin);
}
.Checkbox input[type='checkbox'] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.Checkbox input[type='checkbox'] + label {
  --checkbox-width: 20px;
  --check-width: 12px;
  display: flex;
  position: relative;
  font: var(--font-label);
  color: var(--color-theme-200);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 16px;
}
.Checkbox input[type='checkbox'] + label::after {
  content: '';
  position: relative;
  display: inline-block;
  width: var(--checkbox-width);
  height: var(--checkbox-width);
  background: var(--color-theme-400);
  box-shadow: var(--border);
  border-radius: 3px;
  flex: 0 0 var(--checkbox-width);
  background-size: var(--check-width);
  background-repeat: no-repeat;
  background-position: center center;
}
.Checkbox input[type='checkbox']:focus-visible + label::after,
.Checkbox input[type='checkbox']:focus + label::after {
  outline: var(--outline-focus);
}
.Checkbox input[type='checkbox']:checked + label::after {
  background-image: var(--color-theme-check);
}