.Checkbox {
  position: relative;
}
input[type='checkbox'] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
input[type='checkbox'] + label {
  display: flex;
  position: relative;
  font-size: 1.4rem;
  color: var(--primary-200);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
input[type='checkbox'] + label::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--primary-600);
  box-shadow: var(--border);
  border-radius: 3px;
}
input[type='checkbox']:checked + label::after {
  background: var(--accent);
}
input[type='checkbox']:focus + label::after {
  outline: var(--accent) solid 1px;
}