.Checkbox {
  --top-margin: 16px;
  position: relative;
}
* + .Checkbox {
  margin-top: var(--top-margin);
}
input[type='checkbox'] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
input[type='checkbox'] + label {
  --checkbox-width: 20px;
  display: flex;
  position: relative;
  font: var(--font-label);
  color: var(--color-primary-200);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 16px;
}
input[type='checkbox'] + label::after {
  content: '';
  position: relative;
  display: inline-block;
  width: var(--checkbox-width);
  height: var(--checkbox-width);
  background: var(--color-primary-600);
  box-shadow: var(--border);
  border-radius: 3px;
  flex: 0 0 var(--checkbox-width);
}
input[type='checkbox']:checked + label::after {
  background: var(--color-accent);
}
input[type='checkbox']:focus + label::after {
  outline: var(--color-primary-200) solid 1px;
}