.CodeOutput {
  padding: var(--padding-outer);
  overflow-y: overlay;
  --copy-button-height: 40px;
}
.CodeOutput pre {
  background: var(--color-dark-500) !important;
  margin-top: calc(var(--copy-button-height) * -1);
}
.CodeOutput__copy {
  all: initial;
  position: sticky;
  top: 0;
  right: 0;
  margin-left: auto;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-dark-400);
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px var(--color-border);
}
