.OutputTabs {
  display: flex;
  width: 100%;
}
.OutputTabs__tab {
  all: initial;
  flex: 0 0 50%;
  text-align: center;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  color: inherit;
  font-weight: 300;
  color: var(--color-theme-300);
  background-color: rgb(255, 255, 255, .05);
  border-bottom: 1px solid var(--color-border);
  position: relative;
}
.OutputTabs__tab:nth-child(1) {
  border-right: 1px solid var(--color-border);
}
.OutputTabs__tab.active {
  background-color: var(--color-theme-500);
  color: var(--color-theme-100);
  border-bottom: 0;
}
.OutputTabs__tab-text {
  position: absolute;
  top: 13px;
  left: 0;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}