.Slider {
  --thumb-width: 16px;
  --marker-width: 2px;
  --marker-margin: calc((var(--thumb-width) - var(--marker-width)) / 2);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Slider__control {
  height: var(--thumb-width);
  position: relative;
}
.Slider__label--container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Slider__label {
  font-size: 1.4rem;
  color: var(--primary-200);
}
.Slider__value {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--primary-600);
  padding: 6px 8px;
  border-radius: calc(var(--border-radius) / 2);
  min-width: 40px;
  text-align: center;
  box-shadow: var(--border);
}
.Slider__track {
  --track-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  background: var(--primary-600);
  cursor: pointer;
}
.Slider__track-0 {
  border-top-left-radius: var(--track-radius);
  border-bottom-left-radius: var(--track-radius);
}
.Slider__track-1 {
  border-top-right-radius: var(--track-radius);
  border-bottom-right-radius: var(--track-radius);
}
.Slider__thumb {
  top: 50%;
  transform: translateY(-50%);
  width: var(--thumb-width);
  height: var(--thumb-width);
  background: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow-low);
}
.Slider__mark {
  width: var(--marker-width);
  height: var(--marker-width);
  background-color: var(--primary-400);
  cursor: pointer;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0 var(--marker-margin);
  top: 50%;
  transform: translateY(-50%);
}
.Slider__bounds {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.Slider__bound {
  width: var(--thumb-width);
  font-weight: 400;
  color: var(--primary-200);
}