.Slider {
  --thumb-width: 20px;
  --marker-width: 2px;
  --marker-margin: calc((var(--thumb-width) - var(--marker-width)) / 2);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
* + .Slider {
  margin-top: var(--margin-flow);
}
.Slider__control {
  height: var(--thumb-width);
  cursor: pointer;
}
.Slider__label--container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Slider__label {
  font: var(--font-label);
  color: var(--color-dark-200);
}
.Slider__value {
  font: var(--font-value);
  background-color: var(--color-dark-400);
  padding: 6px 8px;
  border-radius: calc(var(--border-radius) / 2);
  min-width: 40px;
  text-align: center;
  box-shadow: var(--border-subtle);
}
.Slider__track {
  --track-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  background: var(--color-dark-400);
  cursor: pointer;
}
.Slider__track-0 {
  border-top-left-radius: var(--track-radius);
  border-bottom-left-radius: var(--track-radius);
}
.Slider__track-1 {
  border-top-right-radius: var(--track-radius);
  border-bottom-right-radius: var(--track-radius);
}
.Slider__thumb {
  top: 50%;
  transform: translateY(-50%);
  width: var(--thumb-width);
  height: var(--thumb-width);
  background: var(--color-accent);
  border-radius: 50%;
  cursor: grab;
  box-shadow: var(--shadow-low);
}
.Slider__thumb:focus-visible {
  outline: 2px solid var(--color-dark-100);
}
.Slider__thumb:active {
  cursor: grabbing;
}
.Slider__thumb:active ~ .Slider__mark {
  cursor: grabbing;
}
.Slider__mark {
  width: var(--marker-width);
  height: var(--marker-width);
  background-color: var(--color-dark-300);
  cursor: pointer;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0 var(--marker-margin);
  top: 50%;
  transform: translateY(-50%);
}
.Slider__bounds {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.Slider__bound {
  width: var(--thumb-width);
  font-weight: 400;
  color: var(--color-dark-300);
}