.Switch {
  --track-height: 24px;
  --gap: 2px;
  position: relative;
}
.Switch input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.Switch__track {
  --thumb-pos: 0;
  --thumb-width: calc(var(--track-height) - (2 * var(--gap)));
  --icon-width: calc(var(--track-height) / 2);
  height: 24px;
  width: 48px;
  background-color: var(--color-theme-500);
  border-radius: 100vw;
  box-shadow: var(--border-subtle);
  position: relative;
}
.Switch__track::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--icon-width) * 2 / 3);
  height: var(--icon-width);
  width: var(--icon-width);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDQ1LjE2IDQ1LjE2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMjIuNTgsMTEuMjY5Yy02LjIzNywwLTExLjMxMSw1LjA3NS0xMS4zMTEsMTEuMzEyczUuMDc0LDExLjMxMiwxMS4zMTEsMTEuMzEyYzYuMjM2LDAsMTEuMzExLTUuMDc0LDExLjMxMS0xMS4zMTIKCQkJUzI4LjgxNiwxMS4yNjksMjIuNTgsMTEuMjY5eiIgZmlsbD0iI2ZmZmZmZiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCI+PC9wYXRoPgoJCTxnPgoJCQk8Zz4KCQkJCTxwYXRoIGQ9Ik0yMi41OCw3Ljk0NGMtMS4yMTksMC0yLjIwNy0wLjk4OC0yLjIwNy0yLjIwNlYyLjIwN0MyMC4zNzMsMC45ODgsMjEuMzYxLDAsMjIuNTgsMGMxLjIxOSwwLDIuMjA3LDAuOTg4LDIuMjA3LDIuMjA3CgkJCQkJdjMuNTMxQzI0Ljc4Nyw2Ljk1NiwyMy43OTgsNy45NDQsMjIuNTgsNy45NDR6IiBmaWxsPSIjZmZmZmZmIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIj48L3BhdGg+CgkJCTwvZz4KCQkJPGc+CgkJCQk8cGF0aCBkPSJNMjIuNTgsMzcuMjE1Yy0xLjIxOSwwLTIuMjA3LDAuOTg4LTIuMjA3LDIuMjA3djMuNTNjMCwxLjIyLDAuOTg4LDIuMjA4LDIuMjA3LDIuMjA4YzEuMjE5LDAsMi4yMDctMC45ODgsMi4yMDctMi4yMDgKCQkJCQl2LTMuNTNDMjQuNzg3LDM4LjIwMywyMy43OTgsMzcuMjE1LDIyLjU4LDM3LjIxNXoiIGZpbGw9IiNmZmZmZmYiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiPjwvcGF0aD4KCQkJPC9nPgoJCQk8Zz4KCQkJCTxwYXRoIGQ9Ik0zMi45MjgsMTIuMjMxYy0wLjg2MS0wLjg2Mi0wLjg2MS0yLjI1OSwwLTMuMTIxbDIuNDk3LTIuNDk3YzAuODYxLTAuODYxLDIuMjU5LTAuODYxLDMuMTIxLDAKCQkJCQljMC44NjIsMC44NjIsMC44NjIsMi4yNiwwLDMuMTIxbC0yLjQ5NywyLjQ5N0MzNS4xODgsMTMuMDkzLDMzLjc5MSwxMy4wOTMsMzIuOTI4LDEyLjIzMXoiIGZpbGw9IiNmZmZmZmYiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiPjwvcGF0aD4KCQkJPC9nPgoJCQk8Zz4KCQkJCTxwYXRoIGQ9Ik0xMi4yMzEsMzIuOTNjLTAuODYyLTAuODYzLTIuMjU5LTAuODYzLTMuMTIxLDBsLTIuNDk3LDIuNDk2Yy0wLjg2MSwwLjg2MS0wLjg2MiwyLjI2LDAsMy4xMjEKCQkJCQljMC44NjIsMC44NjEsMi4yNiwwLjg2MSwzLjEyMSwwbDIuNDk3LTIuNDk4QzEzLjA5MywzNS4xODgsMTMuMDkzLDMzLjc5LDEyLjIzMSwzMi45M3oiIGZpbGw9IiNmZmZmZmYiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiPjwvcGF0aD4KCQkJPC9nPgoJCQk8Zz4KCQkJCTxwYXRoIGQ9Ik0zNy4yMTUsMjIuNThjMC0xLjIxOSwwLjk4OC0yLjIwNywyLjIwNy0yLjIwN2gzLjUzMWMxLjIxOSwwLDIuMjA3LDAuOTg4LDIuMjA3LDIuMjA3YzAsMS4yMTktMC45ODgsMi4yMDYtMi4yMDcsMi4yMDYKCQkJCQloLTMuNTMxQzM4LjIwMywyNC43ODYsMzcuMjE1LDIzLjc5OSwzNy4yMTUsMjIuNTh6IiBmaWxsPSIjZmZmZmZmIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIj48L3BhdGg+CgkJCTwvZz4KCQkJPGc+CgkJCQk8cGF0aCBkPSJNNy45NDQsMjIuNThjMC0xLjIxOS0wLjk4OC0yLjIwNy0yLjIwNy0yLjIwN2gtMy41M0MwLjk4OCwyMC4zNzMsMCwyMS4zNjEsMCwyMi41OGMwLDEuMjE5LDAuOTg4LDIuMjA2LDIuMjA3LDIuMjA2CgkJCQkJaDMuNTMxQzYuOTU2LDI0Ljc4Niw3Ljk0NCwyMy43OTksNy45NDQsMjIuNTh6IiBmaWxsPSIjZmZmZmZmIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIj48L3BhdGg+CgkJCTwvZz4KCQkJPGc+CgkJCQk8cGF0aCBkPSJNMzIuOTI4LDMyLjkzYzAuODYyLTAuODYxLDIuMjYtMC44NjEsMy4xMjEsMGwyLjQ5NywyLjQ5N2MwLjg2MiwwLjg2LDAuODYyLDIuMjU5LDAsMy4xMnMtMi4yNTksMC44NjEtMy4xMjEsMAoJCQkJCWwtMi40OTctMi40OTdDMzIuMDY2LDM1LjE4OCwzMi4wNjYsMzMuNzkxLDMyLjkyOCwzMi45M3oiIGZpbGw9IiNmZmZmZmYiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiPjwvcGF0aD4KCQkJPC9nPgoJCQk8Zz4KCQkJCTxwYXRoIGQ9Ik0xMi4yMzEsMTIuMjMxYzAuODYyLTAuODYyLDAuODYyLTIuMjU5LDAtMy4xMjFMOS43MzQsNi42MTRjLTAuODYyLTAuODYyLTIuMjU5LTAuODYyLTMuMTIxLDAKCQkJCQljLTAuODYyLDAuODYxLTAuODYyLDIuMjU5LDAsMy4xMmwyLjQ5NywyLjQ5N0M5Ljk3MiwxMy4wOTQsMTEuMzY5LDEzLjA5NCwxMi4yMzEsMTIuMjMxeiIgZmlsbD0iI2ZmZmZmZiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCI+PC9wYXRoPgoJCQk8L2c+CgkJPC9nPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjwvZz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: difference;
}
.Switch__track::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--icon-width) * 2 / 3);
  height: var(--icon-width);
  width: var(--icon-width);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDQ4MCA0ODAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiIGNsYXNzPSIiPjxnPgo8Zz4KCTxnPgoJCTxwYXRoIGQ9Ik00NTkuNzgyLDM0Ny4zMjhjLTQuMjg4LTUuMjgtMTEuNDg4LTcuMjMyLTE3LjgyNC00Ljk2Yy0xNy43Niw2LjM2OC0zNy4wMjQsOS42MzItNTcuMzEyLDkuNjMyCgkJCWMtOTcuMDU2LDAtMTc2LTc4Ljk3Ni0xNzYtMTc2YzAtNTguNCwyOC44MzItMTEyLjc2OCw3Ny4xMi0xNDUuNDcyYzUuNDcyLTMuNzEyLDguMDk2LTEwLjQsNi42MjQtMTYuODMyCgkJCVMyODUuNjM4LDIuNCwyNzkuMDc4LDEuNDRDMjcxLjU5LDAuMzUyLDI2NC4xMzQsMCwyNTYuNjQ2LDBjLTEzMi4zNTIsMC0yNDAsMTA3LjY0OC0yNDAsMjQwczEwNy42NDgsMjQwLDI0MCwyNDAKCQkJYzg0LDAsMTYwLjQxNi00Mi42ODgsMjA0LjM1Mi0xMTQuMTc2QzQ2NC41NSwzNjAuMDMyLDQ2NC4wMzgsMzUyLjY0LDQ1OS43ODIsMzQ3LjMyOHoiIGZpbGw9IiNmZmZmZmYiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSIiPjwvcGF0aD4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L2c+PC9zdmc+);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: difference;
}
.Switch__thumb {
  width: var(--thumb-width);
  height: var(--thumb-width);
  position: absolute;
  background-color: var(--color-accent);
  border-radius: 100vw;
  top: var(--gap);
  left: var(--thumb-pos);
  transition: left var(--transition-fast);
  z-index: 1;
}
input:focus-visible + .Switch__track,
input:focus + .Switch__track {
  outline: var(--outline-focus);
}
input:checked + .Switch__track {
  --thumb-pos: var(--gap);
}
input:not(:checked) + .Switch__track {
  --thumb-pos: calc(100% - var(--thumb-width) - var(--gap));
}