.Visualizer {
  display: grid;
  grid-template-rows: auto 24px;
  height: 100%;
  overflow: hidden;
}
.Visualizer__viewport-container {
  padding: var(--padding-outer);
  display: grid;
  place-items: center;
  overflow-y: overlay;
}
.Visualizer__viewport {
  box-sizing: border-box;
}
.Visualizer__children {
  display: flex;
  flex-wrap: wrap;
}
.Visualizer__child {
  border-radius: 5%;
  flex-shrink: 0;
  flex-grow: 0;
  height: auto;
  aspect-ratio: 1/1;
  background-color: transparent;
  box-shadow: var(--border-accent);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffca28' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.Visualizer__buttons {
  position: relative;
  margin-right: var(--padding-outer);
  margin-left: var(--padding-outer);
}
.Visualizer__buttons::before {
  content: '';
  position: absolute;
  width: calc(100% + (2 * var(--padding-outer)));
  height: 100%;
  left: calc(var(--padding-outer) * -1);
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--color-border);
}
.Visualizer__button {
  z-index: 1;
  all: inherit;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  position: absolute;
  background-color: transparent;
  height: 100%;
  text-align: center;
  border-right: 1px solid;
  border-left: 1px solid;
  box-sizing: border-box;
  border-color: var(--color-border);
  cursor: pointer;
  /* transition: width var(--transition-fast); */
}
.Visualizer__current-view {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-theme-400);
}