.Visualizer {
  display: grid;
  grid-template-rows: 24px auto;
  height: 100%;
}
.Visualizer__viewport-container {
  padding: var(--padding-outer);
  display: grid;
  place-items: center;
  overflow-y: overlay;
}
.Visualizer__viewport {
  /* box-shadow: var(--border-subtle); */
  /* padding: 1.6rem;
  border-radius: 24px; */
  box-sizing: border-box;
  /* transition: width var(--transition-fast); */
}
.Visualizer__children {
  display: flex;
  flex-wrap: wrap;
}
.Visualizer__child {
  border-radius: .8rem;
  flex-shrink: 0;
  flex-grow: 0;
  height: auto;
  aspect-ratio: 1/1;
  color: #333;
  background-color: transparent;
  box-shadow: var(--border-accent);
}
.Visualizer__buttons {
  position: relative;
  margin-right: var(--padding-outer);
  margin-left: var(--padding-outer);
  background-color: var(--color-primary-700);
}
.Visualizer__buttons::before {
  content: '';
  position: absolute;
  width: calc(100% + (2 * var(--padding-outer)));
  height: 100%;
  background-color: var(--color-primary-700);
  left: calc(var(--padding-outer) * -1);
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--color-primary-500);
}
.Visualizer__button {
  z-index: 1;
  all: inherit;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  position: absolute;
  background-color: transparent;
  height: 100%;
  text-align: center;
  border-right: 1px solid;
  border-left: 1px solid;
  box-sizing: border-box;
  border-color: var(--color-primary-500);
  cursor: pointer;
  /* transition: width var(--transition-fast); */
}
.Visualizer__current-view {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-600);
  /* transition: width var(--transition-fast); */
}
/* .Visualizer__button.active {
  background-color: var(--color-primary-200);
} */